<div class="row">
    <div class="col-md-12">

        <div id="carousel-example-generic" class="col-md-12 carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {{ range $index, $element := .ArticleHightlights }}
                <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" class="{{if eq $index 0}}active{{end}}"></li>
                {{end}}
            </ol>
            <!-- Wrapper for slides -->

            <div class="carousel-inner">
                {{ range $index, $element := .ArticleHightlights }}
                <div class="item {{if eq $index 0}}active{{end}}">
                    <a href="/xem-phim/{{.Key}}-{{.Id}}.html">
                        <img src="/static/uploads/{{.PosterImage}}" width="100%" alt="...">
                    </a>
                    <div class="carousel-caption">
                        <h3>{{.Title}}</h3>
                    </div>
                </div>
                {{end}}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tabs">
            <a role="button" href="/">Tất cả</a> {{ range .Categories }}
            <a role="button" href="/phim/{{.Key}}.html">{{.Name}}</a> {{ end }}
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ range .Articles }}
        <div class="col-md-3">
            <div class="thumbnail">

                <a href="/xem-phim/{{.Key}}-{{.Id}}.html">
                    <img src="/static/uploads/season-se956-portrait.jpg" data-src="holder.js/300x200" alt="...">
                </a>

                <div class="caption">

                    <h5>{{.Title}}</h5>

                </div>

            </div>
        </div>
        {{ end }}

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{if gt .paginator.PageNums 1}}
        <ul class="pagination">
            {{if .paginator.HasPrev}}
            <li><a href="{{.paginator.PageLinkFirst}}">{{ "Đầu"}}</a></li>
            <li><a href="{{.paginator.PageLinkPrev}}">&lt;</a></li>
            {{else}}
            <li class="disabled"><a>{{ "Đầu"}}</a></li>
            <li class="disabled"><a>&lt;</a></li>
            {{end}} {{range $index, $page := .paginator.Pages}}
            <li{{if $.paginator.IsActive .}} class="active" {{end}}>
                <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
                </li>
                {{end}} {{if .paginator.HasNext}}
                <li><a href="{{.paginator.PageLinkNext}}">&gt;</a></li>
                <li><a href="{{.paginator.PageLinkLast}}">{{  "Cuối"}}</a></li>
                {{else}}
                <li class="disabled"><a>&gt;</a></li>
                <li class="disabled"><a>{{  "Cuối"}}</a></li>
                {{end}}
        </ul>
        {{end}}
    </div>
</div>
<div style="display:none;">
    <div class="hero-text">
        <h1>Welcome to phim247.me</h1>
        <p class="description">
            Golang-CMS is a full & powerful Go web content management system which is inspired by djando-cms.
            <br /> Official website: <a href="http://{{.Website}}">{{.Website}}</a>
            <br /> Contact me: {{.Email}}
            <br /> 111{{ .ModuleMenu }}111 {{ range .Categories }} cat{{.Name}} {{ end }} {{.phim}}
            <br> you are visiting the page from a {{.device_type}} device
            <br> To get more info please: <a href="http://{{.Website}}/register">Register</a> OR <a href="http://{{.Website}}/login">login</a>
        </p>
    </div>
</div>