<div class="row">

    <div class="col-md-12">

        <div class="col-md-12 ">
            <div class="thumbnail">
                <video id="player" playsinline controls data-poster="/path/to/poster.jpg">
				<source src="/video/{{.FileName}}" type="video/mp4" />
				<!-- Captions are optional -->
				<track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default />
				</video>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>{{.Article.Title}}</h4>
    </div>
    <div class="col-md-12">
        {{str2html .Article.Content}}
    </div>
</div>